/**
 * @name Minecalftree's Changes
 * @author minecalftree#7305 stole from Bates#7075
 * @version 1.0.0
 * @source 
 * @website 
 * @donate 
 * @description Different Modifications to Discord's UI
 * @authorId 137259132305539072
*/

/* #css-snippet CSS Store */
@import url(https://maendisease.github.io/BetterDiscordStuff/css/storeCSS.css);
@import url(https://maendisease.github.io/BetterDiscordStuff/css/bdAddonMini.css);
@import url(https://xhylo.github.io/ChannelIcons/Channelicons.css);


/* always show vc options */
.optionsButton__07f91{
  width: 16px!important;
}
/* but not the create invite button */
.iconItem_c69b6d.iconBase_c69b6d.iconNoChannelInfo_c69b6d[aria-label="Create Invite"]{
  display: none!important;
}
/* get rid of the sticker and gift button more */
.expression-picker-chat-input-button.buttonContainer__74017:nth-of-type(3), .channelAppLauncher_e6e74f, .button__74017.button__24af7[aria-label="Send a gift"]{
  display: none!important;
}
/*kill variouse image based buttons */
.actionButtons_cc1819.base__5cd44.focusSensitive__5cd44, .button_aec7ab.closeButton__6088c.base__5cd44{
  display: none!important;
}

/* kill apps */
 .hoverButtonGroup__06ab4{
  display: none;
}

/* this bit's about expanding the status and about-me/description */
.descriptionClamp_f5f93a, .content_ab8609{
  -webkit-line-clamp: none;
  line-clamp: none;
}
.viewFullBio_f5f93a{
  display: none;
}
.content_ab8609[style]{
  max-height:fit-content!important;
  overflow:visible;
}
.maxBioHeight_f5f93a{
  max-height:fit-content;
}
/* remove guild bar hover pointer */
.headerText-2z4IhQ > span {
  margin-left: 3px;
}

/* remove help next to search*/
div[aria-label="Help"]{
  display: none !important;
}

/* hide "public" better discord box
#bd-pub-li {
  display: none !important;
}



/* freeze home button */
.tutorialContainer__1f388 {
  outline-color: transparent;
  position: fixed;
  transform: translatey( -112% );
  box-shadow: 0px 2px var(--highlight);
  height:48px;
}

.guildSeparator__252b6{
  display: none;
}
.stack_dbd263.scroller_ef3116.none_d125d2.scrollerBase_d125d2 {
  contain: unset;
  margin-top: 56px;
}


/* change click here for more 
.clickCTA-1bk0UN {
  display: none;
}
/* removes set nickname and avatar*/
.setIdentityLink-3lcnXW {
  display: none}

/* search buttons on bottom */
.container__86c0f{
  position:sticky;
  bottom:0;
  background-color: var(--background-secondary);
  z-index:1;
}
/*try to get rid of members icon */
[aria-label="Hide Member List"] {
  display: none!important;
}

/* removes hover "new" button */
div.unreadMentionsIndicatorBottom-3RJMnQ {
  display: none!important;
}

/* 🠗 server boost status icon 🠗 */
.containerDefault_c69b6d.wrapper__2ea32.container__877f0{
    display: none;
}

/* 🠗 prevent attachment overflow 🠗 */
.messageAttachment-CZp8Iv {
    max-width: 100%;
    min-width: 0;
}